<!-- This is the collection panel template -->
<style>
	.md-framework-parent-panel-layout{  
		width:100%;
		height:100%;
		overflow:hidden;       
	}

	.md-framework-panel-content-container{
		height:100%;
		width:100%;  
		overflow:hidden;
	}

	.whiteFrameContainer{
		height:35%;
		width:35%;   
	}

</style>
<div class="md-framework-parent-panel-layout">
	<div class="md-framework-panel-content-container" layout="column" layout-align="start start">
		<panelcontrol-component></panelcontrol-component>
	</div>
</div>