<!-- This is the widgets panel template -->
<div class="md-framework-parent-panel-layout" style="overflow-y:auto;">
	<div class="md-framework-panel-content-container">
		<div class="md-framework-pannel-widgettray">
			<md-content style="background:rgba(0,0,0,0) !important;" layout="row" layout-wrap>
				<clock-component></clock-component>
		        <weather-component></weather-component>
		        <userprofile-component></userprofile-component>
		        <calender-component></calender-component>
		        <instagram-component></instagram-component>
		        <piecharts-component></piecharts-component>
		        <linecharts-component></linecharts-component>
		        <radarcharts-component></radarcharts-component>
		        <doughnutcharts-component></doughnutcharts-component>
		        <barcharts-component></barcharts-component>
			</md-content>
		</div>
		<!-- <div class="md-framework-pannel-widgettray" layout="row" layout-align="start start">
			<clock-component></clock-component>
	        <weather-component></weather-component>
	        <userprofile-component></userprofile-component>
	        <calender-component></calender-component>
	        <instagram-component></instagram-component>
	        <piecharts-component></piecharts-component>
	        <linecharts-component></linecharts-component>
	        <radarcharts-component></radarcharts-component>
	        <doughnutcharts-component></doughnutcharts-component>
	        <barcharts-component></barcharts-component>
		</div> -->
		<!-- <div gridster="widgetGridsterOpts" class="md-framework-pannel-widgettray">
			<ul>
				<li layout="column" layout-align="center center" gridster-item size-x="5" size-y="3">
					<weather-component></weather-component>
				</li>
				<li gridster-item size-x="3" size-y="4">
					<calender-component></calender-component>
				</li>
				<li gridster-item size-x="3" size-y="4">
					<clock-component></clock-component>
				</li>
				<li gridster-item size-x="3" size-y="3">
					<piecharts-component></piecharts-component>
				</li>
				<li gridster-item size-x="3" size-y="3">
					<radarcharts-component></radarcharts-component>
				</li>
				<li gridster-item size-x="3" size-y="3">
					<doughnutcharts-component></doughnutcharts-component>
				</li>
				<li gridster-item size-x="4" size-y="3">
					<barcharts-component></barcharts-component>
				</li>
				<li gridster-item size-x="4" size-y="3">
					<linecharts-component></linecharts-component>
				</li>
			</ul>
		</div> -->
	</div>
</div>