<!-- This is the widgets panel template -->
<div class="md-framework-parent-panel-layout" style="overflow-y:auto;">
	<div class="md-framework-panel-content-container" layout="column" layout-align="start start">
		<panelcontrol-component>
		</panelcontrol-component>
		<!-- <div class="md-framework-pannel-widgettray">
			<md-content style="background:rgba(0,0,0,0) !important;" layout="row" layout-wrap>
				<clock-component></clock-component>
		        <weather-component></weather-component>
		        <userprofile-component></userprofile-component>
		        <calender-component></calender-component>
		        <instagram-component></instagram-component>
		        <piecharts-component></piecharts-component>
		        <linecharts-component></linecharts-component>
		        <radarcharts-component></radarcharts-component>
		        <doughnutcharts-component></doughnutcharts-component>
		        <barcharts-component></barcharts-component>
			</md-content>
		</div> -->
	</div>
</div>